//
// Partials -> Header
// ------------------------------------
aside {
  height: 100vh;
  min-height: 680px;
  position: relative;
}
  .half-content {
    padding-left: 172px !important;
    background: url("../images/photo_bg.jpg") no-repeat center;
    background-size: cover;
    overflow: hidden;
  }
  .round {
    position: absolute;
    right: 0;
    z-index: 5;
    background: url("../images/round.png") center right no-repeat;
    height: 100%;
    width: 100px;
  }
nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 172px;
  height: 100%;
  background: #1a1a1a;
}
.nav__element.nav__element-sub {

  &:hover:before {
    content: "";
    position: absolute;
    right: 0;
    top: 35%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15.5px 23px 15.5px 0;
    border-color: transparent #394045 transparent transparent;
  }
}
.nav__element-img {
  position: relative;
  background: #fff;
  margin: 0 auto 10px;
  width: 79px;
  height: 79px;
  @include border-radius(50%);
}
.bottom-copyright, .bottom-social {
  font-size: 12px;
  line-height: 21px;
}
.bottom-social {
  margin-bottom: 70px;}
.subnav {
  display: none;
  position: fixed;
  top: 0;
  left: 172px;
  height: 100%;
  background: #394045;
  max-width: 174px;
  .nav__element {
    margin-bottom: 7px;
  }
  .nav__element-img {
    width: 65px;
    height: 65px;
  }
}
  .nav__element:hover {
    > .nav__element-item > .nav__element-img {
      -webkit-animation: anim-rotate 1.5s linear;
      animation: anim-rotate 1.5s linear;
    }
    > .subnav {
      display: block;
    }
  }
  /*.height {
    height: 1000%;
    background: #394045;
    position: absolute;
    top: -250%;
    width: 100%;
    z-index: -1;
  }*/
  .logo-link {
    border-color: transparent !important;
  }
  .background {
    padding-left: 15px;
    padding-right: 15px;
  }
  .background__item-title {
    //font-family: CenturyGothic;
    //font-weight: 400;
    //line-height: 40px;
    //color: #4a545e;
    text-align: center;
    //padding-right: 70px;
  }
  .badge__new {
    position: absolute;
    line-height: 1;
    top: -2px;
    right: -11px;
    color: $brand-info;
    font-size: 10px;
    font-weight: 700;
    padding: 3px 8px;
    background-color: $brand-primary;
    text-transform: uppercase;
    @include border-radius(25px);
  }
  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

