//
// Partials -> Footer
// ------------------------------------

footer {
  padding: 20px 60px;
}
.copy {
  font-family: $base-font-family-head;
  font-size: 12px;
  font-weight: 300;
  color: #606060;
}