aside.pull-left
    nav
        .logo.text--center
            a.logo-link(href="/")
                img.logo-link-img.margtop20(src="images/logo.png", alt="Logo")
        ul.nav
            li.nav__element.nav__element-sub
                a(href="#").nav__element-item
                    .nav__element-img
                        img(src="images/menu--ico-1.png", alt="")
                    | Корсеты и бандажи
                .subnav
                    ul.nav
                        li.nav__element
                            a(href="#").nav__element-item
                                .nav__element-img
                                    img(src="images/menu--ico-4.png", alt="")
                                | Ограничители на колено
                        li.nav__element
                            a(href="#").nav__element-item
                                .nav__element-img
                                    img(src="images/menu--ico-5.png", alt="")
                                | Ортез на голеностопный сустав
                        li.nav__element
                            a(href="#").nav__element-item
                                .nav__element-img
                                    .badge__new new
                                    img(src="images/menu--ico-6.png", alt="")
                                | Ортез на плечевой сустав
            li.nav__element.nav__element-sub
                a(href="#").nav__element-item
                    .nav__element-img
                        img(src="images/menu--ico-2.png", alt="")
                    | Ортезы на сустав
                .subnav
                    ul.nav
                        li.nav__element
                            a(href="#").nav__element-item
                                .nav__element-img
                                    img(src="images/menu--ico-4.png", alt="")
                                | Ограничители на колено
                        li.nav__element
                            a(href="#").nav__element-item
                                .nav__element-img
                                    img(src="images/menu--ico-5.png", alt="")
                                | Ортез на голеностопный сустав
                        li.nav__element
                            a(href="#").nav__element-item
                                .nav__element-img
                                    .badge__new new
                                    img(src="images/menu--ico-6.png", alt="")
                                | Ортез на плечевой сустав
                        li.nav__element
                            a(href="#").nav__element-item
                                .nav__element-img
                                    img(src="images/menu--ico-7.png", alt="")
                                | Ортез на локтевой сустав
                        li.nav__element
                            a(href="#").nav__element-item
                                .nav__element-img
                                    img(src="images/menu--ico-8.png", alt="")
                                | Ортез на лучезапястный сустав
                        li.nav__element
                            a(href="#").nav__element-item
                                .nav__element-img
                                    img(src="images/menu--ico-9.png", alt="")
                                | Ортез на бедро и локоть
            li.nav__element
                a(href="#").nav__element-item
                    .nav__element-img
                        img(src="images/menu--ico-3.png", alt="")
                    | Ортопедичеcкие стельки
        .bottom.text--center
            .bottom-social
                p Мы в соцсетях:
                a.non_under(href="#", target="_blank")
                    img(src="images/vk.png", alt="VK")
            .bottom-copyright
                p ORTO TM
                    br
                    | Разработка:&nbsp;
                    a.non_under(href="www.alkodesign.ru", target="_blank") AlkoDesign
