if title.description == '404'

else
    footer
        .col-xs-12
            p.copy Все права принадлежат ООО "Малтри". Полное или частичное копирование материалов запрещено.
                br
                | © OOO "Малтри", 190020, г. Санкт-Петербург, ул. Лифляндская, д. 6, пом. 13Н, лит. M, тел.: +7(812)336-39-99
        .clearfix