extends layouts/_default

block content
    - var title = { description: 'Архив новостей' }
    #main
        include modules/_breadcrumbs
        section.content
            .news__main
                h1= title.description
                .news__item
                    p.news--data 28 ноября 2015
                    h2.news--title
                        a(href="#") Снижение цен
                    p В связи с изменением финансовой ситуации в России и укреплением курса
                        | российского рубля, группа компаний Малтри сообщает о дифференциро-
                        | ванном снижении отпускных и рекомендованных розничных цен на
                        | Professionаl с 20 апреля 2015 года.
                .news__item
                    p.news--data 28 ноября 2015
                    h2.news--title
                        a(href="#") С 8 марта, милые дамы
                    p В связи с изменением финансовой ситуации в России и укреплением курса
                        | российского рубля, группа компаний Малтри сообщает о дифференциро-
                        | ванном снижении отпускных и рекомендованных розничных цен на
                        | Professionаl с 20 апреля 2015 года.
                .news__item
                    p.news--data 28 ноября 2015
                    h2.news--title
                        a(href="#") Поздравляем с 23 февраля
                    p В связи с изменением финансовой ситуации в России и укреплением курса
                        | российского рубля, группа компаний Малтри сообщает о дифференциро-
                        | ванном снижении отпускных и рекомендованных розничных цен на
                        | Professionаl с 20 апреля 2015 года.
                .news__item
                    p.news--data 28 ноября 2015
                    h2.news--title
                        a(href="#") Поступлениев продажу бандажа ВВ 208
                    p В связи с изменением финансовой ситуации в России и укреплением курса
                        | российского рубля, группа компаний Малтри сообщает о дифференциро-
                        | ванном снижении отпускных и рекомендованных розничных цен на
                        | Professionаl с 20 апреля 2015 года.
                .margbot40.margtop40
                    include modules/_paginator
.clearfix