extends layouts/_default

block content
    - var title = { description: 'Заголовок для типовой' }
    #main
        include modules/_breadcrumbs
        section.content
            .news__main
                h1= title.description
                .news__item
                    p ORTO PROFESSIONAL представляет уникальную серию стелек, воплотившую
                        | современный подход к ортезированию стопы, новые технологии и инновационные
                        | высокотехнологичные материалы. Это позволило совместить высокий лечебно-
                        | профилактический эффект стелек с непревзойденным комфортом в
                        | использовании.
                    .text--center
                        img(src="images/photo-content.jpg")
                    p Новый подход к созданию индивидуальных ортопедических стелек основан на
                        | самостоятельной адаптации готовых изделий под конкретного человека за счет
                        | инновационных материалов и уникальной многослойной системы MEMOGEL.
                    p ORTO PROFESSIONAL представляет уникальную серию стелек, воплотившую
                        | современный подход к ортезированию стопы, новые технологии и инновационные
                        | высокотехнологичные материалы. Это позволило совместить высокий лечебно-
                        | профилактический эффект стелек с непревзойденным комфортом в
                        | использовании.
.clearfix